[OOM]
# Kill processes when swap is at this level
SwapUsedLimit={{ ssh_oom_protection_oomd_swap_limit }}

# Kill processes under memory pressure at this level for the configured duration
DefaultMemoryPressureLimit={{ ssh_oom_protection_oomd_pressure_limit }}
DefaultMemoryPressureDurationSec={{ ssh_oom_protection_oomd_pressure_duration }}
